body{
    margin: 0%;
}
.top{
    width: 100%;
    height: 60px;
    background: black;
}
.container{
    width: 1170px;
    margin:0 auto; 
}
.giohang{
    float: right;
    text-align: center;
}
.giohang p{
    margin: 0px;
    color: white;
}
.giohang img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
    object-fit: scale-down;
}
.giohang a:link , .giohang a:visited{
    color: white;
    text-decoration:none;
}
.logo{
    text-align: center;
    border-bottom: solid 1px #e8e8e8;
}
.logo a:link, .logo a:visited{
    color:black;
    text-decoration: none;
}

#left{
    width: 70%;
    height:70px;
    float: left;
}
#right{
    width:30%;
    height: 70px;
    float: left;
    position: relative;
   
}
#left ul{
    list-style-type: none;
}
#left ul li{
    float: left;
    padding-right: 50px;
    font-size: 20px;


}
#left ul li a{
    text-decoration: none;
    color: black;
}
#left ul li a:hover{
    color:gray;
}
#iconsearch{
    background-image: url("image/search.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 11px;
    cursor: pointer;
    border: 0px;
    position: absolute;
    top: 21px;
    left: 88%;
}
#txtsearch{
    height: 25px;
    margin-top: 15px;
}
#csearch{
    position: relative;
    float: right;
}
.bnr img{
    width: 100%;
     
}
.about{
    height: 300px;
    margin-top: 30px;
    margin-left: 40px;
}
.hotproduct{
    float: left;
    padding-top: 15px;
    padding-right: 40px;

}
.ngan
{
    margin-top: 50px;
    border-bottom: 1px solid #000;
    text-align: center;
}
.productimage img{
    height: 250px;
    object-fit: scale-down;
}
.product1{
    text-align: center;
    border: solid 1px #d8d8d8;
    float:left;    
    margin-right: 40px;
    margin-left: 0.5px;
}
.product{
    margin-top: 50px;
    margin-left: 40px;
    
}
.more{
    text-align: center;
    padding: 40px;
    font-size: 20px;
    text-decoration: none;
    color:black;
}
.more a:hover{
    color:gray;
}
.bieutuong{
    padding-top: 5rem;
    text-align: center;
}
.bieutuong a p{
    font-size: 9px;
}
.footertag a{
    text-decoration: none;
    color: white;
}
.footer_nav ul{
    padding-top: 1rem;
    list-style-type:none;
    display: flex;
    justify-content: space-around;
}
.footer_nav ul li{
    padding-left: 5px;
}
.social_media a{
    text-decoration: none;
    color: white;
}
.social_media ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
}
.social_media ul{
    padding: 0;
}
.social_media ul li{
    padding: 1rem;
}
.copyright{
    display: flex;
    justify-content: center;
}
